body,th,td   { font-size:11pt; }
small   { font-size:9pt; }
big     { font-size:13pt;font-weight:bold; }
span    { line-height:130%; }
a       { text-decoration:none; }
a:hover { text-decoration:underline; }
a.line       { text-decoration:underline; }
a.line:hover { text-decoration:underline; }