body,th,td   { font-size:10pt; }
small   { font-size:8pt; }
big     { font-size:12pt;font-weight:bold; }
span    { line-height:130%; }
a       { text-decoration:none; }
a:hover { text-decoration:underline; }
a.ul       { text-decoration:underline;color:#FFFFFF; }
a.ul:hover { text-decoration:underline;color:#FFFF00; }